{% extends 'base.html.twig' %}

{% block title %}UserGroupUser index{% endblock %}

{% block body %}
    <h1>UserGroupUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Group Name</th>
                <th>User name</th>
                <th>AccessLevel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_group_user in user_group_users %}
            <tr>
                <td>{{ user_group_user.id }}</td>
                <td>{{ user_group_user.userGroup.name }}</td>
                <td>{{ user_group_user.user.username }}</td>
                <td>{{ user_group_user.accessLevel }}</td>
                <td>
                    <a href="{{ path('user_group_user_show', {'id': user_group_user.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
