{% extends 'base.html.twig' %}

{% block title %}UserGroupUser{% endblock %}

{% block body %}
    <h1>UserGroupUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_group_user.id }}</td>
            </tr>
            <tr>
                <th>AccessLevel</th>
                <td>{{ user_group_user.accessLevel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_group_user_index') }}">back to list</a>

    <a href="{{ path('user_group_user_edit', {'id': user_group_user.id}) }}">edit</a>

    {{ include('user_group_user/_delete_form.html.twig') }}
{% endblock %}
