{% extends 'base.html.twig' %}

{% block title %}UserGroup index{% endblock %}

{% block body %}
    <h1>User Group index</h1>

    <table class="table" border="1" cellspacing="2" cellpadding="10">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Created</th>
                <th>Users Count</th>
                <th>Users</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_group in user_groups %}
            <tr>
                <td>{{ user_group.id }}</td>
                <td>{{ user_group.name }}</td>
                <td>{{ user_group.owner.username }}</td>
                <td>{{ user_group.createdDateTime ? user_group.createdDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_group.userCount }}</td>
                <td>
                    {% for user_group_user in user_group.userGroupUsers %}
                        {{user_group_user.user.username}} <br />
                    {% endfor %}
                </td>
                <td>
                {% if current_user.id == user_group.owner.id %}
                    <a href="{{ path('user_group_show', {'id': user_group.id}) }}">Show</a>
                    <a href="{{ path('user_group_edit', {'id': user_group.id}) }}">Edit</a>
                {% else %}
                    <a href="{{ path('user_group_join_request_new', {'userGroup': user_group.id}) }}">Send Join Request</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_group_new') }}">Create new</a>
{% endblock %}
