{% extends 'base.html.twig' %}

{% block title %}UserGroup{% endblock %}

{% block body %}
    <h1>UserGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user_group.name }}</td>
            </tr>
            <tr>
                <th>CreatedDateTime</th>
                <td>{{ user_group.createdDateTime ? user_group.createdDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UserCount</th>
                <td>{{ user_group.userCount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_group_index') }}">back to list</a>

    <a href="{{ path('user_group_edit', {'id': user_group.id}) }}">edit</a>

    {{ include('user_group/_delete_form.html.twig') }}
{% endblock %}
