{% extends 'base.html.twig' %}

{% block title %}Edit UserGroupJoinRequest{% endblock %}

{% block body %}
    <h1>Edit UserGroupJoinRequest</h1>

    {{ include('user_group_join_request/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_group_join_request_index') }}">back to list</a>

    {{ include('user_group_join_request/_delete_form.html.twig') }}
{% endblock %}
