{% extends 'base.html.twig' %}

{% block title %}UserGroupJoinRequest index{% endblock %}

{% block body %}
    <h1>UserGroupJoinRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RequestDatetime</th>
                <th>RequestStatus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_group_join_request in user_group_join_requests %}
            <tr>
                <td>{{ user_group_join_request.id }}</td>
                <td>{{ user_group_join_request.requestDatetime ? user_group_join_request.requestDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_group_join_request.requestStatus }}</td>
                <td>
                    <a href="{{ path('user_group_join_request_aproove', {'id': user_group_join_request.id}) }}">Aproove</a>
                    <a href="{{ path('user_group_join_request_deny', {'id': user_group_join_request.id}) }}">Deny</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
