{% extends 'base.html.twig' %}

{% block title %}New UserGroupJoinRequest{% endblock %}

{% block body %}
    <h1>Create new UserGroupJoinRequest</h1>

    {{ include('user_group_join_request/_form.html.twig') }}

    <a href="{{ path('user_group_join_request_index') }}">back to list</a>
{% endblock %}
