{% extends 'base.html.twig' %}

{% block title %}UserGroupJoinRequest{% endblock %}

{% block body %}
    <h1>UserGroupJoinRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_group_join_request.id }}</td>
            </tr>
            <tr>
                <th>RequestDatetime</th>
                <td>{{ user_group_join_request.requestDatetime ? user_group_join_request.requestDatetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RequestStatus</th>
                <td>{{ user_group_join_request.requestStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_group_join_request_index') }}">back to list</a>

    <a href="{{ path('user_group_join_request_edit', {'id': user_group_join_request.id}) }}">edit</a>

    {{ include('user_group_join_request/_delete_form.html.twig') }}
{% endblock %}
